Copy code h1 {
    font-size: 50px;
    text-align: center;
    color: #ffffff
}

p {
    font-size: 20px;
    text-align: left;
    font-family: Helvetica, sans-serif;
}

body {
    background-image: url("/Users/Dell/Documents/WILD CODE SCHOOL/HTML-CSS/logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}